* {
  margin: 0;
  padding: 0;
  font-family: monospace, Arial, Helvetica, sans-serif;
}
body {
  margin: 8px;
  min-height: 100vh;
  height: 100vh;
  background-color: #2c3e50;
}

.headerTitle {
  text-align: center;
  color: #27ae60;

  h1 {
    border: 0;
    padding: 12px;
    border-bottom: 2px solid #27ae60;
  }
}

main {
  width: 100%;
  height: 100%;
}

.flexCenter {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
form {
  width: 50%;
  background-color: #34495e;
  border-radius: 16px;
  box-shadow: 1px 1px 2px 0 black;
  display: flex;
  flex-direction: column;
  padding: 50px 30px;
  justify-content: space-between;
  gap: 20px;
  input,
  select,
  button {
    color: white;
    border: none;
    display: block;
    border-radius: 8px;
    padding: 10px;
    background-color: #22313f;
  }

  button[type="submit"] {
    background-color: #27ae60;
    padding: 6px;
  }

  button:hover {
    background-color: #27ae5f6a;
  }
  input[type="color"] {
    padding: 0;
    width: 100%;
  }
}

table {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
  border: none;

  td {
    border: 2px solid #a2a5a9;
    color: white;
    padding: 8px;
  }
  th {
    border: 2px solid #a2a5a9;
    background-color: white;
    padding: 10px 0;
    color: #27ae60;
    border-top: none;
    border-bottom: none;
  }
  button {
    color: white;
    border: none;
    border-radius: 4px;
    background-color: hsl(145, 63%, 42%);
    padding: 6px 50px;
  }
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}

.mrl-1 {
  margin: 0 10px;
}

.flexCenterColumn {
  display: flex;
  flex-direction: column;
  gap: 10px;

  button {
    color: white;
    border: none;
    border-radius: 4px;
    background-color: hsl(145, 63%, 42%);
    padding: 6px 50px;
  }
}
#cancelEditBtn {
  background-color: #e74c3c;
}

button:hover {
  background-color: #0d633174;
}

button:active {
  background-color: #688c77fd;
}
